body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

.painel {
    display: block;
    width: 250px;
}

label {
    display: block;
    font-weight: bold;
}

#painel-rgb {
    margin-top: 10px;
    width: 150px;
    height: 150px;
}